.input-text {
  border: none;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  height: 35px;
  width: 40%;
  border-bottom: 2px solid #abdae1;
  margin-bottom: 10px;
}

.input-text:focus {
  outline: none;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 3px;
}

.true {
  text-decoration: line-through;
  font-weight: 200;
}

.add-button {
  border: none;
  margin-left: 5px;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(+3px);
  background-color: #caffb9;
  font-weight: bold;
  color: #3c404a;
}

.add-button:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 3px;
}
